# --- Project ---
COMPOSE_PROJECT_NAME=crypto-monitor

# --- MariaDB ---
MARIADB_ROOT_PASSWORD=root123
MARIADB_DATABASE=cryptodb
MARIADB_USER=
MARIADB_PASSWORD=

# --- InfluxDB ---
INFLUXDB_ADMIN_USER=
INFLUXDB_ADMIN_PASSWORD=
INFLUXDB_ORG=crypto-org
INFLUXDB_BUCKET=crypto_prices
INFLUXDB_TOKEN=
# --- Grafana ---
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

# --- Telegram ---
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# --- Cloudflare ---
CLOUDFLARE_TUNNEL_TOKEN=

# --- Flask ---
FLASK_SECRET_KEY=flask-secre
FLASK_ENV=production

# --- Binance WebSocket ---
BINANCE_WS_URL=wss://stream.binance.com:9443/stream
SYMBOLS=btcusdt,ethusdt,solusdt

# --- Alert Thresholds ---
BTC_HIGH=120000
BTC_LOW=100000
ETH_HIGH=7000
ETH_LOW=4000
SOL_HIGH=300
SOL_LOW=100